<div class="container"  >
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <ul class="list-unstyled" *ngIf="this.order.items.length > 0" >
        <li class=" my-4 p-3 mb-2 bg-success text-white">
          <h5 class="mt-0 mb-1">Order Confirmed</h5>
        </li>
        <li class=" p-4" >
          <div class="alert alert-light">
            Your order has been placed - you would recieve an email with the appropriate details.
            <p *ngIf="order.payment_mode == 'cash'">
              Please ensure you have the amount of AED {{ order.total }} to pay the driver.
            </p>
              <p *ngIf="order.payment_mode == 'card-on-delivery'">
                Please ensure you have a valid credit/debit card ready to pay the driver.
              </p>
              <p *ngIf="order.payment_mode == 'card'">
                Your card has been charged AED {{ order.total }}.
              </p>
              Estimated delivery: 45 - 60 minutes
              <p class="text-center">Thank you so much for ordering with us</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-group btn-block">
                  <li class="list-group-item text-white lead bg-success">
                    Your Order
                  </li>
                  <li class="list-group-item" *ngFor="let item of order.items; ">
                    <div>
                      {{ item.qty }} x {{ item.item }}
                      <br/>
                      <small>{{ item.item_extras }}</small>
                      <div class="float-right">AED {{ item.subtotal  }}</div>
                    </div>
                  </li>
                  <li class="list-group-item"><b>Subtotal:</b><div class="float-right">AED  {{ this.order.subtotal }}</div> </li>
                  <li class="list-group-item"><b>Delivery:</b><div class="float-right">AED {{ this.order.delivery_charge  }}</div> </li>
                  <li *ngIf="this.order.applied_discount > 0" class="list-group-item">
                    <b>Discount Applied:</b>
                    <div class="float-right">AED {{ this.order.applied_discount  }}</div> 
                  </li>
                  <li class="list-group-item"><h5><b>Total:</b><div class="float-right">AED {{ this.order.total }}</div> </h5></li>
                </ul>
              </div>
              <div class="col-md-6">
              <ul class="list-group btn-block">
                <li class="list-group-item text-white lead bg-success">
                  Delivery to
                </li>
                <li class="list-group-item">
                  <div>
                    {{ order.customer_name }}
                  </div>
                </li>
                <li class="list-group-item">
                  <div>
                    Email: {{ order.customer_email }}
                  </div>
                </li>
                <li class="list-group-item">
                  Phone:{{ order.customer_phone }}
                </li>
                <li class="list-group-item">
                  <div>
                    {{ order.address.house_no }} {{ order.address.street }}<br/>
                    {{ order.address.address_1 }} {{ order.address.address_2 }}<br/>
                    {{ order.address.city_name}}

                    <p>{{order.comments}}</p>
                  </div>
                </li>
              </ul>

              </div>
            </div>
        </li>
        <li class=" p-4" >
          <a href="javascript:void(0)" routerLink="" class="btn btn-primary btn-lg">Order Something Else</a>
          <a href="javascript:void(0)" routerLink="" class="btn btn-light btn-lg">Back</a>
        </li>


          
      </ul>
    </div>
  </div>
</div>
  